header.header
  a(href="/lojas")
    img.logo(src='/imagens/Lalitaa/Lalitaa_logo_transparent.png' alt='Lalitaa Logo')
  form.search(action='#')
    input.search__input(type='text' placeholder='')
    button.search__button
      svg.search__icon
        use(xlink:href='/imagens/dev/sprite.svg#icon-search')
  nav.user-nav
      if usuario
        .user-nav__icon-box
          svg.user-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-heart')
        .user-nav__icon-box
          svg.user-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-shopping-cart')
          span.user-nav__notification 4
        .user-nav__icon-box
          a.user-nav__link(href='/chat')
            svg.user-nav__icon
              use(xlink:href='/imagens/dev/sprite.svg#icon-message-square')
            span.user-nav__notification 7
        .user-nav__user
          a.user-nav__link(href='/me')
            img.user-nav__user-photo(src=`/imagens/dev/usuarios/${usuario.fotografia}` alt='user photo')
            span.user-nav__user-name= usuario.nome.split(' ')[0]
      if storeOwner
        a.user-nav__icon-box(href='/donoloja/chat')
          svg.user-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-message-square')
          span.user-nav__notification 7
        .user-nav__user
          a.user-nav__link(href='/donoloja/me')
            img.user-nav__user-photo(src=`/imagens/dev/usuarios/${storeOwner.fotografia}` alt='user photo')
            span.user-nav__user-name= storeOwner.nome.split(' ')[0]
      if (!usuario && !storeOwner && url !=='/entrar')
        .user-nav__icon-box
          svg.user-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-heart')
        .user-nav__icon-box
          svg.user-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-shopping-cart')
          span.user-nav__notification 4
        a.user-nav__loginbtn(href='/entrar')
            span Entrar
      if (url==='/entrar')    
        a.user-nav__donolojaLoginbtn(href='/donolojaentrar')
            span Dono loja








//if usuario
      .user-nav__icon-box
        svg.user-nav__icon
          use(xlink:href='/imagens/dev/sprite2.svg#icon-heart')
      .user-nav__icon-box
        svg.user-nav__icon
          use(xlink:href='/imagens/dev/sprite.svg#icon-shopping-cart')
        span.user-nav__notification 4
      .user-nav__icon-box
        svg.user-nav__icon
          use(xlink:href='/imagens/dev/sprite.svg#icon-message-square')
        span.user-nav__notification 7
      .user-nav__user
        img.user-nav__user-photo(src='/imagens/dev/usuarios/anneide.jpg' alt='user photo')
        span.user-nav__user-name= usuario.nome
    else
      .user-nav__icon-box
        svg.user-nav__icon
          use(xlink:href='/imagens/dev/sprite2.svg#icon-heart')
      .user-nav__icon-box
        svg.user-nav__icon
          use(xlink:href='/imagens/dev/sprite.svg#icon-shopping-cart')
        span.user-nav__notification 4
      a.user-nav__loginbtn(href='/entrar')
          span ENTRAR





    //- -------------------Only for logged in users--------------------
    //- .user-nav__icon-box
    //-   svg.user-nav__icon
    //-     use(xlink:href='/imagens/dev/sprite.svg#icon-message-square')
    //-   span.user-nav__notification 7
    //- .user-nav__user
    //-   img.user-nav__user-photo(src='/imagens/dev/usuarios/anneide.jpg' alt='user photo')
    //-   span.user-nav__user-name Anneide
    //- ----------------------------------------------------------------