extends base
block content
    include _sidebar
    .chat__container
        each mensagem in mensagens
            a.chat__container__link(href=`/chat/private/${mensagem.usuario.nomeUsuario}/${mensagem.store.nomeLoja}` lojaid=`${mensagem.store.id}` usuarioid=`${mensagem.usuario.id}`)
                .chat__contact
                    img.chat__contact__photo.chat__contact__photo--online(src=`./imagens/dev/lojas/${mensagem.store.imagemDeCapa}` alt='')
                    span.chat__contact--name= mensagem.store.nome
        .chat__group