extends base
block content
    include sidebarEditarstorereview
    .newStoreDashboard__container
        section.newStoreDashboard
            .newStoreDashboard__item
                form.form.form--editarStoreReview(action='#')
                    .form__group
                        label.form__label(for='reviewId') ID avaliação
                        input#reviewId.form__input(type='text' name='' value=`${review.id}` readonly='readonly' placeholder='')
                    .form__group
                        label.form__label(for='nome') Loja
                        input#lojaId.form__input(type='text' name='' value=`${loja.id}` readonly='readonly' placeholder='')
                    .form__group
                        label.form__label(for='nomeUsuario') Usuario
                        input#nomeUsuario.form__input(type='text' name='' value=`${usuario.id}` readonly='readonly' placeholder='')
                    .form__group
                        label.form__label(for='rating') Rating
                        input#rating.form__input(type='text' name='' value=`${review.rating}` placeholder='' )
                    .form__group
                        label.form__label(for='avaliacao') Avaliação
                        input#avaliacao.form__input(type='text' name='' value=`${review.review}` placeholder='' )
                    .form__group
                        button.btn.updateLoja__btn Avaliar loja
