extends base
block content
    include sidebarProductreviews
    .container
        .reviews__container
            .user-reviews
                each review in reviews
                    figure.review
                        figcaption.review__user
                            img.review__photo(src=`/imagens/dev/usuarios/${review.usuario.fotografia}` alt='')
                            .review__user-box
                                p.review__user-name= review.usuario.nome
                                p.review__user-date= review.createdAt.toLocaleDateString()
                            .review__rating= review.rating
                        blockquote.review__text= review.review