.content
  nav.sidebar
    ul.side-nav
      li.side-nav__item.side-nav__item--active
        a.side-nav__link(href='/lojas')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-shop')
          span Lojas
      li.side-nav__item
        a.side-nav__link(href='/galeria')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-image')
          span Galeria
      li.side-nav__item
        a.side-nav__link(href='/categorias')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-tag')
          span Categorias
    if usuario && !userReview && !storeOwner
      a.img__link(href=`/loja/${loja.id}/produtos`)
        img.side-nav__store__img(src=`/imagens/dev/lojas/${loja.imagemDeCapa}` alt='')
      a.side-nav__storeWriteReviewsbtn(href=`/loja/${loja.id}/avaliar`)
        svg.side-nav__icon
          use(xlink:href='/imagens/dev/sprite.svg#icon-edit')
        span Avaliar
    if usuario && userReview
      input#reviewId(style='display: none;' value=`${userReview.id}` readonly='readonly')
      a.img__link(href=`/loja/${loja.id}/produtos`)
        img.side-nav__store__img(src=`/imagens/dev/lojas/${loja.imagemDeCapa}` alt='')
      a.side-nav__editarStoreReview(href=`/loja/${loja.id}/editarStoreReview/${userReview._id.toString()}`)
        svg.side-nav__icon
          use(xlink:href='/imagens/dev/sprite.svg#icon-tool')
        span Editar avaliação
      button.side-nav__removeStoreReviewbtn
        svg.side-nav__icon
          use(xlink:href='/imagens/dev/sprite.svg#icon-trash-2')
        span Remover avaliação 
    if !usuario && !storeOwner
      a.img__link(href=`/loja/${loja.id}/produtos`)
        img.side-nav__store__img(src=`/imagens/dev/lojas/${loja.imagemDeCapa}` alt='')